configuration {
  show-icons:           true;
  icon-theme:           "MacTahoe-nord-dark";
  disable-history:      true;
  sort:                 false;
  sorting-method:       "fzf";
  case-sensitive:       false;
  display-drun:         "󰀻 Apps";
  display-ssh:          "󰣀 SSH";
  display-run:          "󰆍 Run";
  display-window:       "󱂬 Windows";
  display-combi:        "󰕘 Combi";
  display-filebrowser:  "󰉋 Files";
}
